.page {
    display: none;
}

.page.active {
    display: block;
}

/* Кнопки навигации */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(30, 30, 30, 0.9);
    border-top: 4px solid #00ff9c;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.nav-btn {
    background: none;
    border: none;
    color: #ffcc00;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover {
    transform: scale(1.2);
}

.main-btn {
    background: #00ff9c;
    color: #1b1b1b;
    border-radius: 50%;
    font-size: 26px;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 0 #008f6a;
}

/* Список героев */
#heroesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.hero-card {
    background: rgba(20, 20, 20, 0.8);
    border: 2px solid #00ff9c;
    border-radius: 8px;
    padding: 8px;
    width: 100px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 10px #00ff9c;
    image-rendering: pixelated;
}

.hero-card img {
    width: 64px;
    height: 64px;
    border: 2px solid #00ff9c;
    border-radius: 4px;
    margin-bottom: 6px;
}
